header {
    background: url(https://thumbs.dreamstime.com/b/planks-dark-old-wood-texture-background-170515350.jpg);
    height: 450px;
}

h1 {
    font-size: 48px;
    color: red;
    text-align: center;
    padding-top: 10%;
}

p {
    font-size: 22px;
    color: blue;
    text-align: center;
}

.none {
    display: none;
}